
.container-banner{
    margin: 0px 110px 0px 110px;
    padding: 15px;
}

.botao{ 
    font-weight: 400; 
    text-align: center;
    cursor: pointer;
    background: linear-gradient(90deg, #351BD5 3.51%, #1BD4AB 89.73%);
    padding: 0.45rem;
    font-size:x-large;
    border-radius: 1.5rem;
    margin-left: 100px;
}

.paragrafo-banner{
    width: 500px;
}

.text-banner{
    padding-top: 150px;
    padding-left: 15px;
}

.banner-img{
    padding: 10px;
    width: 390px;
    height: 417px;
}

@media (max-width: 1025px) {
    .banner-img {
        display: none;
    }
    .paragrafo-banner{
        width: 85%;
        text-align: justify;
    }
    .sobre-paragrafo{
        width: 95%;
        text-align: justify;
        margin-left: 5%;
    }
    .container-responsive {
        display: flex;
        flex-direction: column;
    }
    .foto-sobre {
        margin-left: 20%;

    }
}