@media (min-width: 990px) {
  .dropdown {
      display: none;
  }
}

.nav-link{
    font-size: 25px;
}

.nav-link:hover{
    font-size: 25px;
    background-image: linear-gradient(90deg, #351BD5 3.51%, #1BD4AB 89.73%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

a {
    text-decoration: none;
    font-family: 'post_no_bills_colombolight';
    color: white;
    margin: 0;
    padding: 0;
    font-size: 25px;
  }

  p{
      margin: 0;
      padding: 0;
  }
  
  
  a:hover{
      background-image: linear-gradient(90deg, #351BD5 3.51%, #1BD4AB 89.73%);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
  }
