.project-container {
    background-color: white;
    border-radius: 15px;
}

.img {
    width: 445px;
    height: 204px;
}

a {
    color: black;
}

.with-linear-gradient {
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(45deg, #351BD5 3.51%, #1BD4AB) 1;
  }