@font-face {
  font-family: 'post_no_bills_colombolight';
  src: local("post_no_bills_colombolight"), url('./fonts/postnobillscolombo-light-webfont.woff');
  font-weight: normal;
  font-style: normal; 
}

body {
  margin: 0;
  font-family: 'post_no_bills_colombolight';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #30475e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
